
.event-gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  
  .card {
    flex-shrink: 0;
    margin-right: 20px;
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  
  .event-types-wrapper {
    margin-top: -590px; /* Adjust spacing as needed */
  }
  
//

